nav {
  display: inline-block;
}

body {
  padding-top: 70px;
  background-image: url('../images/vault_boy.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: center;
  background-color: #026AA7;
}
