.navigation {
  display: inline-block;
  list-style: none;
  margin: 0;
}

#welcome, #log {
  padding-left: 10px;
}

#registration, #login {
align-items: center;
padding: inherit;
}

body {
  padding-top: 70px;
  background-image: url('../images/vault_boy.png');
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: center;
  background-color: #026AA7;
}
